// Colors
$color--black: #000;
$color--off-black: #262626;
$color--indigo: #2E1F5E;
$color--teal: #007D7E;
$color--eggshell: #B3E7E8;
$color--light-grey: #EDEAF3;
$color--pink: #F9CBCE;

// Fonts
$font--primary: 'Kumbh Sans', sans-serif;

// Font weights
$weight--bold: 700;
$weight--regular: 400;
