.button {
    display: flex;
    align-items: center;
    text-decoration: none;

    border-radius: 6px;
    border: 1px solid $color--off-black;
    margin-left: auto;
    margin-right: auto;

    padding: 15px 30px;
    color: $color--off-black;
    
    &:hover{
        transition: all 0.3s;
        background-color: $color--off-black;
        color: $color--white;
        
        > svg {
            transition: all 0.3s;
            transform: translateX(10px) scale(1.25, 1.25);
        }
    }

    > p {
        // normalise margin
        margin: 0;
    }

    > svg {
        margin-left: 15px;
    }

    &__dark {
        background-color: $color--off-black;
        color: $color--white;

        &:hover{
            background-color: $color--white;
            color: $color--off-black;
        }
    }

    &--reverse {
        flex-direction: row-reverse;

        > svg {
            margin-right: 15px;
            margin-left: 0;
            transform: rotate(180deg);
        }

        &:hover{
            
            > svg {
                transition: all 0.3s;
                transform: rotate(180deg) translateX(10px) scale(1.25, 1.25);
            }
        }
    }

    &__disabled {
        background-color: $color--light-grey;
        border-color: $color--light-grey;
        cursor: not-allowed;

        > p {
            opacity: 0.5;
            color: $color--off-black;
        }

        &:hover{
            background-color: $color--light-grey;
            border-color: $color--light-grey;
        }
    }
}